* {
  /* border-top: 10px solid #1098ad; */
  margin: 5;
  padding: 0;
  box-sizing: border-box;
}

/* page sections */
body {
  font-family: sans-serif;
  color: #444;

  border-top: 10px solid #1098ad;
  position: relative;
}

.container {
  display: grid;
  grid-template-columns: 1fr 450px;
  column-gap: 50px;
  row-gap: 30px;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 20px;
  grid-column: 1 / span 2;
  justify-items: center;
}

.content {
  padding-top: 5px;
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

#author {
  font-style: italic;
  font-size: 15px;
  text-align: right;
}

h2,
h3,
h4,
h5,
h6 {
  color: #1098ad;
  font-size: 25px;
}

body {
  font-family: sans-serif;
  color: #444;

  border-top: 10px solid #1098ad;
  position: relative;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 30px 0;
  display: block;
  height: fit-content;
}

header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

li {
  font-style: italic;
}
